@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color1: #255EE9;
    --color2: #7289DA;
    --color3: #F6F6F6;

}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    /* background-color: var(--color1); */
    background-image: url(//img/jumbo.png);
    color: white;
}

.hero {
    display: flex;
    height: 80vh;
    align-items: center;
    text-align: center;
    background-color: red;
    background-image: url(/img/jumbo.png);
    background-size: cover;


}

.tabcontainer {
    width: 80%;
    margin: 0 auto;
}

.herocontent {
    padding: 10%;
}

.banner {
    display: flex;
    height: 10%;
    background-color: var(--color1);
    justify-content: space-around;
    padding-block: 15px;

}

/* .logo {
    background-color: aqua;
} */

.links {
    gap: 10px;
}

.button {
    text-decoration: none;
    background-color: white;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 999px;

}

.download {
    margin: 20px;
    /* line-height: 160%; */
}

.titolo {
    font-size: 50px;
    line-height: 200%;
}

.herocontent {

    width: 70%;
    margin: 0 auto;
    line-height: 160%;
}

.row {
    display: flex;
    /* justify-content: center;
    è scorretto, per via del fatto che il testo sennò tendere ad occupare
     tutta la riga arrivando agli estremi, e a noi questo non interessa.. */
    padding: 10%;
    margin: 0 auto;
    gap: 50px;

}


.row figure {
    flex-basis: 40%;
    background-color: red;
}

.row aside {
    flex-basis: 60%;
    background-color: blue;
}

.row:nth-child(even) {
    background-color: aquamarine;
    flex-direction: row-reverse;
}

.row:last-child {
    flex-direction: column-reverse;
    text-align: center;
}

.tabcontainer {
    display: flex;

}

.column {
    flex-grow: 1;
    padding-block: 20px;
}

footer .banner {
    background-color: gray;

}

footer {
    background-color: chocolate;

}