@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color1: #255EE9;
    --color2: #7289DA;
    --color3: #F6F6F6;
    --color4: #23272A;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    /* background-color: var(--color1); */
    background-image: url(//img/jumbo.png);
    color: white;
}

.hero {
    display: flex;
    height: 80vh;
    align-items: center;
    text-align: center;
    background-image: url(/img/jumbo.png);
    background-size: cover;


}

.tabcontainer {
    width: 80%;
    margin: 0 auto;
}

.herocontent {
    padding: 10%;
}

.banner {
    display: flex;
    height: 10%;
    background-color: var(--color1);
    justify-content: space-around;
    padding-block: 15px;

}



.links a {
    text-decoration: none;
    color: white;
    padding-inline: 1em;

}

.button {
    text-decoration: none;
    font-weight: 600;
    color: var(--color4);
    background-color: white;
    padding: 10px;
    border-radius: 999px;
}

.small {
    font-size: 12px;
}

.medium {
    font-size: larger;
}

.black {
    background-color: var(--color4);
    color: white;
}

.purple {
    background-color: var(--color2);
    color: white;
}

.violet {
    color: var(--color2);
}

.white {
    color: white;

}

.download {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 20px;

}

.titolo {
    font-size: 50px;
    line-height: 200%;
}

.herocontent {
    width: 70%;
    margin: 0 auto;
    line-height: 160%;
}

.row {
    display: flex;
    /* align-items: center; */
    /* justify-content: center;
    è scorretto, per via del fatto che il testo sennò tendere ad occupare
     tutta la riga arrivando agli estremi, e a noi questo non interessa.. */
    padding: 10%;
    margin: 0 auto;

}

aside .titolo {
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 1em;
}


.row figure {
    flex-basis: 40%;
}

.row aside {
    flex-basis: 60%;
}

.row:nth-child(even) {
    background-color: var(--color3);
    flex-direction: row-reverse;
}

.row:last-child {
    flex-direction: column-reverse;
    text-align: center;
}

.startadventure {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
}

#starred {
    background-image: url(/img/stars.svg);
    padding-block: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1em;

}



.tabcontainer {
    display: flex;
}

.column {
    flex-grow: 1;
    padding-block: 10%;
    /* flex-basis: calc(100% - 70%); */
}

footer .banner {
    justify-content: space-between;
    margin-inline: 10%;
    background-color: var(--color4);
    border-top: 1px solid var(--color2);
}

footer {
    background-color: var(--color4);
    padding-top: 1%;
}

.button:hover {
    background-color: initial;
    color: red;
    font-weight: 700;
    font-style: oblique;
}